services:
  flask-app:
    build: .
    container_name: flask-app
    ports:
      - "5002:5002" 
    environment:
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - FLASK_APP=app.py
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5002
    depends_on:
      - mongodb
    command: python app.py
    restart: always   
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
