apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1   # maximum pods down during update
      maxSurge: 1         # maximum extra pods created temporarily
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: himanika1822/todo-flask:v10   # <-- your current Docker image
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URI
          value: mongodb://mongo:27017/todo-db
        # Liveness probe checks if container is alive
        livenessProbe:
          httpGet:
            path: /health  
            port: 5000
          initialDelaySeconds: 15  
          periodSeconds: 10        
          timeoutSeconds: 3    
          failureThreshold: 3   
        # Readiness probe checks if app is ready to serve traffic
        readinessProbe:
          httpGet:
            path: /ready         
            port: 5000kubectl port-forward -n monitoring prometheus-prometheus-kube-prometheus-prometheus-0 9090:9090 &
          initialDelaySeconds: 5  
          periodSeconds: 5
          timeoutSeconds: 2
          failureThreshold: 3